@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Poppins-bold;
    src: url(../fonts/Poppins-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: linear-gradient(rgb(177, 111, 182), white );
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

i{
    font-size: 1.46vw;
    color: white;
}

.box{
    height:80vh;
}

.left{
    background-color: rgb(177, 111, 182);
    width:52%;
    height:100%;
    float:left;
}

.right{
    background-image: linear-gradient(to right,rgb(177, 111, 182) 20%, rgb(213, 159, 214) );
    width:48%;
    float:right;
    height:125%;
    transition: 1.0s ease-in-out;
}

.signin{
    height:100%;
    width:100%;
}

.signup{
    background-image: linear-gradient(to right,rgb(177, 111, 182) 20%, rgb(213, 159, 214) );
    margin-top: 0%;
    width:100%;
    height:100%;
    display: none;
}
.slideup{
    transform: translateY(-100%);
}

.slidedown{
    transform: translateY(0px);
}

@keyframes slideup{
    0% { margin-top: 0px ;}
    100% {margin-top: -100%;}
}

@keyframes slidedown{
    0% { margin-top: -100% ;}
    100% {margin-top: 0%;}
}


.logo {
    width:30px;
    height: 30px;
    margin-left: 10%;
    margin-top: 7%;
    float:left;
}

.logo-text{
    color:rgb(177, 111, 182);
    font-family:Poppins;
    font-weight: bold;
    margin-left: 7%;
    height: 6.9%;
}

.toggle{
    width:7.63%;
    height:25px;
    border-radius: 15px;
    cursor: pointer;
    float: right;
    margin-top: 7vh;
    margin-right: 10%;
}

.toggle-btn{
    width:4.6%;
    height:3.5%;
    background-color: rgb(177, 111, 182);
    border-radius: 50%;
}

hr{
    margin-top: 12.1%;;
    color: blue;
    width:80%;
}

.greets{
    color: white;
    font-family:Poppins;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: normal;
    font-size:1.3vw;
}

.small-text{
    color:white;
    font-family:Poppins;
    margin-left: 10%;
    margin-right: 10%;
    font-size:1.3vw;
}

a{
    color:rgb(82, 52, 83);
    cursor: pointer
}

.hrtwo{
    margin-top: 3%;
}

.email{
    padding-left: 15px;
    margin-top: 3%;
    margin-left: 10%;
    height: 5.8%;
    width: 61%;
    border: 0px solid rgb(235, 81, 81);
    border-radius: 10px;
    font-size: 1.03vw;
    background-color:rgba(58, 57, 57, 0.247);
    color:white;
    transition: 0.4s;
    font-family: Poppins;
    
}

.email:focus{
    outline:none;
    transform: scale(1.02);
}

.email::placeholder{
    padding-left: 15px;
    color: white;
    opacity: 0.8;
}

.password{
    padding-left: 15px;
    margin-top: 5.8%;
    margin-left: 10%;
    height: 5.8%;
    width:61%;
    border: 0px solid rgb(235, 81, 81);
    border-radius: 10px;
    font-size: 1.03vw;
    background-color:rgba(58, 57, 57, 0.247);
    color:white;
    transition: 0.4s;
    font-family: Poppins;
}

.password:focus{
    outline:none;
    transform: scale(1.02);
}

.password::placeholder{
    padding-left: 15px;
    color: white;
    opacity: 0.8;
}

.empty-field{
    padding-left: 10px; 
    color: rgb(235, 81, 81);
    opacity: 0%;
}

.login{
    background-color:rgb(82, 52, 83);
    border: 0px solid rgb(177, 111, 182);
    border-radius: 10px;
    padding: 3px;
    width: 64%;
    height: 7.2%;
    cursor: pointer;
    margin-left: 10%;
    margin-top: 4.2%;
    transition: 0.4s;
    color:white;
    font-family: Poppins;
    font-size: 1.2vw;
}

.login:hover{
    background-color:rgba(58, 57, 57, 0);
    transform: scale(1.05);
    color:rgb(82, 52, 83);
    border: 1px solid rgb(82, 52, 83);

}

.displayImg{
    width:100%;
    height:100vh
}

.forgot{
    margin-top: 15%;
    text-decoration: none;
    margin-left: 52%;
    font-family: Poppins;
    font-size: 1.2vw;
}

.forgot:hover{
    text-decoration: underline;
}

.hrthree{
    width: 70%;
    margin-top: 4.4%;
    margin-left: 10%;
}

.uno{
    background-color:rgba(58, 57, 57, 0.247);
    height: 7.2%;
    border:rgba(58, 57, 57, 0.247) 1px solid;
    margin-left: 0.6%;
    margin-left: 10%;
    width: 55%;
    cursor:pointer;
    margin-top: 5%;
    color:white;
    font-size: 1.1vw;
}

.sign{
    background-color:rgba(58, 57, 57, 0.247);
    height: 7.2%;
    border:rgba(58, 57, 57, 0.247) 1px solid;
    margin-left: 0.6%;
    width: 7%;
    cursor:pointer;
    overflow:auto;
    overflow: hidden;
}

.altsign{
    margin-top: 4%;
    margin-left: 5%;
    font-size: 7.68%;
    background-color:rgba(58, 57, 57, 0.247);
    height: 7.2%;
    border:rgba(58, 57, 57, 0.247) 1px solid;
    width: 7%;
    cursor:pointer;
}

.loadUI{
    display:none;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1;
    width: 100%;
    height:100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.loadContent{
    margin-left: 20%;
    margin-top: 9%;
    border: 0px solid rgba(0, 0, 0, 0.4);
    width: 60%;
    height: 60%;
    background-color: white;
    animation: swoop 1s linear forwards;
    animation-timing-function: ease-out;
    display: none;
}

@keyframes swoop{
    0% { margin-top: -2% ;}
    100% {margin-top: 9%;}
}

/*.loadPage p{
    display: none;
}

/*.loadPage{
    border: 0px solid rgba(0, 0, 0, 0.4);
    width: 600px;
    height: 40px;
    text-align: center;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    border-radius: 10px;
    padding-top: 1px;
    font-size: smaller;
    margin-left: 28%;
    animation: swoop 0.2s linear forwards  ;
}

@keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes swoop{
    0% { margin-top: -30px ;}
    100% {margin-top: 50px;}
}
*/

.recover{
    background-color: rgb(177, 111, 182);
    width: 100;
    height: 100%;
    box-shadow: 0 10px 12px 0 rgba(32, 32, 32, 0.247), 0 6px 20px 0 rgba(31, 30, 30, 0.247);
}

.recover-close{
    background-color: transparent;
    border: 0px solid black;
    float: right;
    color:white;
    margin-right: 30px;
    margin-top: 20px;
    cursor: pointer;
}

.recover p{
    color: rgb(247, 233, 248);
}

.recFor{
    font-family: Poppins-bold;
    font-size: 1.83vw;
    margin-top: -25px;
    margin-left: 50px;
}

.recEma{
    font-family: Poppins;
    font-size: 1.19vw;
    margin-left: 50px;
    font-weight: bold;
    margin-top: -15px;
}

.forgot-message{
    font-family: Poppins;
    margin-left: 50px;
    margin-top: -15px;
    font-size: 1.1vw;
}

.email-forgot{
    font-family: Poppins;
    background-color: rgb(132, 81, 133);
    color: white;
    margin-left: 50px;
    margin-top: 0px;
    width: 55%;
    height: 30px;
    border: 0px solid black;
    border-radius: 20px;
    padding: 10px;
    font-size: 0.88vw;
}

.email-forgot::placeholder{
    color:rgba(255, 255, 255, 0.486);
    font-size: 1.10vw;
    margin-left: 10px;
}

.email-forgot:focus{
    outline: none;
}

.timer{
    margin-left: 10px;
    margin-top: 3px;
    font-family: Poppins;
    color:rgba(228, 227, 227, 0.671);
    font-size: 1.1vw;
    opacity: 0%;
}

.for-code{
    width: 15%;
    background-color: rgb(69, 43, 70);
    margin-left: 50px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 15px;
    border: 0px solid black;
    cursor: pointer;
    font-family: Poppins;
    color:white;
    transition: 0.4s;
}


.for-code:hover{
    background-color:rgba(58, 57, 57, 0);
    transform: scale(1.05);
    border: 1px solid rgb(82, 52, 83);

}

.right-menu{
    width: 26%;
    float: right;
    height: 100%;
    animation: slip 0.6s linear forwards;
    animation-timing-function: ease-out;
}

@keyframes slip {
    0% {margin-right: -30%}
    100% {margin-right: 0%;}
}

.right-menu-close{
    background-color: transparent;
    border: 0px solid black;
    float: right;
    color:white;
    margin-right: 8.45%;
    margin-top: 40px;
    cursor: pointer;
}

.menu-text{
    font-family: Poppins-bold;
    width: 100%;
    font-size: 1.83vw;
    margin-top: -25px;
    margin-left: 0px;
    cursor: pointer;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px ;
    transition: 0.4s;
}



.menu-text:hover{
    background-color: rgba(82, 52, 83, 0.651);
}

.rights{
    margin-top: 58%;
    text-align: center;
    font-family: Poppins;
    font-size: 0.73vw;
}

/*.loadPage p{
    display: none;
}

.loadPage{
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-top: 5px;
    width: 60px;
    height: 60px;
    color:white;
    border-radius: 50%;
    margin-left: 28%;
    animation: spin 2s linear infinite  ;
}

@keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes swoop{
    0% { margin-top: -30px ;}
    100% {margin-top: 50px;}
}*/